In [ ]:
import numpy as np
import pandas as pd
import sklearn as sk
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [ ]:
df = pd.read_csv("new_main_table.csv")
df.head()

   ID   SensorName  SensorReading TimeEntered Location SmartObject DateEntered
0   1  Temperature          27.20    11:49:44  Library   ESP32WOFA  12/04/2024
1   2     Humidity          54.10    11:49:44  Library   ESP32WOFA  12/04/2024
2   3     Humidity          54.10    11:49:44  Library   ESP32WOFA  12/04/2024
3   4          LDR          25.61    11:49:44  Library   ESP32WOFA  12/04/2024
4   5  Temperature          27.20    11:49:46  Library   ESP32WOFA  12/04/2024

In [ ]:
df.sample()

,ID,SensorName,SensorReading,TimeEntered,Location,SmartObject,DateEntered
1449,1450,Temperature,36.6,12:13:54,HangOut,ESP32ALLOY,12/04/2024

## Clean the data

In [ ]:
mask = df['SensorReading'] <= 500000
df = df[mask]
df.info()                 # Confirm the drop occured

<class 'pandas.core.frame.DataFrame'>
Index: 2785 entries, 0 to 3058
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             2785 non-null   int64
 1   SensorName     2785 non-null   object
 2   SensorReading  2785 non-null   float64
 3   TimeEntered    2785 non-null   object
 4   Location       2785 non-null   object
 5   SmartObject    2785 non-null   object
 6   DateEntered    2785 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 174.1+ KB

## Converting time to minutes

In [ ]:
# Convert timestamp strings to datetime objects for extraction
df['timestamp'] = pd.to_datetime(df['TimeEntered'], format='%H:%M:%S')
df['Time'] = df['timestamp'].dt.time

# Drop specific feature columns
df = df.drop(columns=['timestamp'])
df = df.drop(columns=['TimeEntered'])
df = df.drop(columns=['DateEntered'])
df = df.drop(columns=['ID'])
df = df.drop(columns=['SmartObject'])

df.reset_index(inplace = True, drop = True)
df.head()

    SensorName  SensorReading Location      Time
0  Temperature          27.20  Library  11:49:44
1     Humidity          54.10  Library  11:49:44
2     Humidity          54.10  Library  11:49:44
3          LDR          25.61  Library  11:49:44
4  Temperature          27.20  Library  11:49:46

In [ ]:
# Convert Time objects into total seconds
time_list = list()
for entry in df['Time']:
    seconds = 0
    time = str(entry)
    time_components = time.split(':')
    seconds += int(time_components[0]) * 3600
    seconds += int(time_components[1]) * 60
    seconds += int(time_components[2])
    time_list.append(seconds)
df['Time'] = time_list
df

       SensorName  SensorReading Location   Time
0     Temperature          27.20  Library  42584
1        Humidity          54.10  Library  42584
2        Humidity          54.10  Library  42584
3             LDR          25.61  Library  42584
4     Temperature          27.20  Library  42586
...           ...            ...      ...    ...
2780          LDR          12.06  Library  45616
2781     Humidity          57.10  Library  45618
2782  Temperature          26.20  Library  45622
2783          LDR          12.16  Library  45622
2784     Humidity          57.40  Library  45622

[2785 rows x 4 columns]

In [ ]:
# Filter for 'Library' location and pivot the data to group Temperature, Humidity, and LDR readings by unique timestamp
val = [0,0,0]
actual = {}

for i in range(len(df)):
    time = df['Time'][i]
    actual[time] = [0,0,0]

for i in range(len(df)):
    time = df['Time'][i]
    sensor = df['SensorName'][i]
    location = df['Location'][i]
    if location == "Library":
        if sensor == "Temperature":
            tlist = actual[time]
            tlist[0] = df['SensorReading'][i]
            actual[time] = tlist
        elif sensor == "Humidity":
            tlist = actual[time]
            tlist[1] = df['SensorReading'][i]
            actual[time] = tlist
        elif sensor == "LDR":
            tlist = actual[time]
            tlist[2] = df['SensorReading'][i]
            actual[time] = tlist

actual

{42584: [27.2, 54.1, 25.61],
 42586: [27.2, 0, 0],
 42587: [0, 54.3, 25.81],
 42589: [0, 54.6, 0],
 42592: [27.2, 0, 0],
 42593: [0, 55.0, 15.28],
 42596: [0, 55.4, 0],
 42598: [27.2, 0, 0],
 42599: [0, 55.5, 19.97],
 42602: [0, 55.7, 0],
 42605: [27.2, 55.8, 18.52],
 42607: [0, 56.0, 0],
 42610: [27.2, 56.1, 21.12],
 42613: [0, 56.2, 0],
 42616: [27.2, 0, 0],
 42617: [0, 56.2, 18.23],
 42621: [0, 55.7, 0],
 42622: [27.2, 0, 18.02],
 42623: [0, 55.7, 0],
 42625: [0, 55.9, 0],
 42628: [27.2, 0, 0],
 42629: [0, 55.9, 21.53],
 42632: [0, 55.8, 0],
 42634: [27.2, 0, 0],
 42635: [0, 55.7, 22.75],
 42638: [0, 55.6, 0],
 42640: [27.2, 0, 0],
 42641: [0, 55.7, 22.75],
 42643: [0, 55.7, 0],
 42646: [27.2, 55.8, 23.57],
 42649: [0, 55.8, 0],
 42652: [27.2, 0, 0],
 42653: [0, 55.8, 22.75],
 42656: [0, 55.5, 0],
 42658: [27.2, 55.2, 22.75],
 42662: [0, 55.0, 0],
 42664: [27.2, 0, 0],
 42671: [27.2, 54.9, 23.88],
 42674: [0, 54.9, 0],
 42676: [27.2, 0, 0],
 42677: [0, 54.9, 21.78],
 42679: [0, 55.0, 0],
 42682: [27.2, 55.1, 23.78],
 42685: [0, 55.3, 0],
 42688: [27.2, 0, 0],
 42689: [0, 55.3, 22.75],
 42692: [0, 55.3, 0],
 42694: [27.2, 0, 0],
 42695: [0, 55.2, 22.75],
 42697: [0, 55.2, 0],
 42700: [27.2, 0, 22.75],
 42701: [0, 55.1, 0],
 42703: [0, 55.2, 0],
 42706: [27.2, 0, 0],
 42707: [0, 55.2, 24.2],
 42710: [0, 55.2, 0],
 42712: [27.2, 0, 23.67],
 42713: [0, 55.2, 0],
 42715: [0, 55.0, 0],
 42718: [27.2, 55.1, 29.46],
 42721: [0, 55.1, 0],
 42724: [27.2, 0, 0],
 42725: [0, 55.1, 28.74],
 42728: [0, 55.2, 0],
 42730: [27.2, 55.1, 29.37],
 42734: [0, 55.1, 0],
 42736: [27.2, 0, 0],
 42737: [0, 55.1, 29.19],
 42740: [0, 55.2, 0],
 42742: [27.2, 0, 0],
 42743: [0, 55.3, 27.04],
 42746: [0, 55.4, 0],
 42748: [27.2, 0, 28.88],
 42749: [0, 55.4, 0],
 42751: [0, 55.5, 0],
 42754: [27.2, 0, 0],
 42755: [0, 55.6, 28.31],
 42757: [0, 55.4, 0],
 42760: [27.2, 0, 0],
 42761: [0, 55.4, 29.05],
 42766: [27.1, 55.4, 24.46],
 42770: [0, 55.3, 0],
 42772: [27.1, 0, 24.31],
 42773: [0, 55.2, 0],
 42776: [0, 55.1, 0],
 42778: [27.1, 0, 0],
 42781: [0, 54.9, 22.26],
 42784: [27.1, 0, 0],
 42785: [0, 54.9, 25.01],
 42790: [27.1, 54.9, 25.77],
 42791: [0, 54.9, 0],
 42794: [0, 55.1, 0],
 42796: [27.1, 0, 0],
 42797: [0, 56.1, 22.19],
 42800: [0, 56.6, 0],
 42802: [27.1, 0, 0],
 42805: [0, 56.2, 24.49],
 42806: [0, 55.8, 0],
 42810: [27.1, 0, 0],
 42811: [0, 55.4, 25.85],
 42814: [27.1, 0, 0],
 42815: [0, 55.1, 25.92],
 42817: [0, 55.5, 0],
 42820: [27.1, 0, 24.46],
 42821: [0, 56.2, 0],
 42825: [0, 56.8, 0],
 42826: [27.0, 56.8, 0],
 42827: [0, 0, 25.38],
 42829: [0, 56.8, 0],
 42832: [27.0, 0, 0],
 42833: [0, 56.6, 23.78],
 42837: [0, 56.3, 0],
 42838: [27.0, 0, 0],
 42839: [0, 56.1, 24.06],
 42842: [0, 56.0, 0],
 42844: [27.0, 0, 0],
 42845: [0, 56.0, 24.71],
 42847: [0, 56.1, 0],
 42850: [27.0, 0, 0],
 42851: [0, 57.1, 23.67],
 42853: [0, 57.2, 0],
 42857: [27.0, 57.0, 25.31],
 42860: [0, 56.8, 0],
 42862: [27.0, 0, 0],
 42863: [0, 56.9, 23.95],
 42866: [0, 56.8, 0],
 42868: [27.0, 0, 0],
 42869: [0, 56.6, 24.24],
 42872: [0, 56.6, 0],
 42874: [26.9, 0, 0],
 42875: [0, 56.9, 24.49],
 42878: [0, 57.0, 0],
 42880: [26.9, 0, 0],
 42881: [0, 56.9, 23.95],
 42883: [0, 57.1, 0],
 42886: [26.9, 0, 0],
 42887: [0, 57.0, 19.77],
 42890: [0, 56.7, 0],
 42892: [26.9, 0, 24.46],
 42893: [0, 56.3, 0],
 42896: [0, 56.2, 0],
 42898: [26.9, 0, 0],
 42899: [0, 56.1, 24.79],
 42901: [0, 56.0, 0],
 42904: [26.9, 0, 0],
 42905: [0, 55.9, 24.46],
 42908: [0, 56.0, 0],
 42910: [26.9, 56.3, 27.62],
 42914: [0, 56.3, 0],
 42916: [26.9, 0, 25.69],
 42917: [0, 56.2, 0],
 42919: [0, 56.1, 0],
 42922: [26.9, 0, 0],
 42923: [0, 55.9, 25.12],
 42927: [0, 56.1, 0],
 42928: [26.9, 0, 22.75],
 42929: [0, 56.2, 0],
 42932: [0, 56.1, 0],
 42934: [26.9, 55.8, 0],
 42935: [0, 0, 22.75],
 42938: [0, 55.9, 0],
 42940: [26.9, 55.9, 24.2],
 42943: [0, 55.9, 0],
 42946: [26.9, 0, 0],
 42947: [0, 55.9, 24.28],
 42952: [26.9, 55.8, 23.74],
 42953: [0, 55.8, 0],
 42956: [0, 55.9, 0],
 42961: [26.9, 56.1, 23.67],
 42964: [26.9, 0, 0],
 42965: [0, 56.2, 24.42],
 42969: [0, 56.3, 0],
 42970: [26.9, 0, 24.57],
 42971: [0, 56.2, 0],
 42974: [0, 56.2, 0],
 42976: [26.9, 0, 0],
 42977: [0, 56.2, 23.88],
 42980: [0, 56.2, 0],
 42982: [26.9, 0, 23.74],
 42983: [0, 56.1, 0],
 42986: [0, 56.3, 0],
 42988: [26.9, 0, 0],
 42992: [0, 56.9, 25.23],
 42994: [26.9, 0, 0],
 42995: [0, 57.3, 23.85],
 42999: [0, 57.2, 0],
 43000: [26.9, 0, 0],
 43001: [0, 56.5, 24.31],
 43004: [0, 56.9, 0],
 43006: [26.9, 0, 0],
 43007: [0, 57.1, 22.26],
 43010: [0, 56.9, 0],
 43012: [26.9, 0, 0],
 43013: [0, 56.6, 26.28],
 43018: [26.9, 57.2, 25.61],
 43019: [0, 57.1, 0],
 43021: [0, 57.2, 0],
 43024: [26.9, 0, 0],
 43025: [0, 57.0, 28.13],
 43028: [0, 56.6, 0],
 43030: [26.9, 0, 0],
 43031: [0, 56.3, 27.71],
 43034: [0, 56.0, 0],
 43036: [26.9, 0, 0],
 43039: [0, 56.0, 27.41],
 43042: [26.9, 0, 25.77],
 43045: [0, 56.7, 0],
 43046: [0, 56.6, 0],
 43048: [26.9, 0, 0],
 43052: [0, 56.3, 26.76],
 43053: [0, 56.2, 0],
 43054: [26.9, 0, 0],
 43056: [0, 56.2, 27.62],
 43057: [0, 56.1, 0],
 43060: [26.9, 0, 0],
 43061: [0, 56.0, 22.75],
 43066: [26.9, 55.9, 0],
 43067: [0, 56.3, 22.75],
 43070: [0, 56.8, 0],
 43072: [26.9, 56.8, 20.7],
 43076: [0, 56.6, 0],
 43078: [26.9, 56.7, 19.27],
 43082: [0, 56.7, 0],
 43084: [26.9, 0, 22.75],
 43085: [0, 56.7, 0],
 43088: [0, 56.7, 0],
 43090: [26.9, 0, 0],
 43091: [0, 56.6, 22.49],
 43093: [0, 56.6, 0],
 43096: [26.9, 0, 0],
 43097: [0, 56.6, 22.75],
 43100: [0, 56.7, 0],
 43102: [26.9, 0, 0],
 43103: [0, 56.7, 27.29],
 43105: [0, 56.5, 0],
 43108: [26.9, 0, 0],
 43109: [0, 56.8, 19.32],
 43111: [0, 56.8, 0],
 43114: [26.9, 0, 28.92],
 43115: [0, 57.2, 0],
 43118: [0, 57.3, 0],
 43120: [26.9, 0, 22.49],
 43121: [0, 57.4, 0],
 43123: [0, 57.3, 0],
 43127: [26.9, 57.3, 22.75],
 43130: [0, 57.1, 0],
 43132: [26.9, 0, 22.75],
 43133: [0, 57.1, 0],
 43136: [0, 57.3, 0],
 43138: [26.9, 0, 0],
 43139: [0, 57.3, 21.65],
 43142: [0, 57.0, 0],
 43146: [26.9, 0, 0],
 43147: [0, 56.8, 23.5],
 43148: [0, 57.0, 0],
 43150: [27.0, 0, 0],
 43151: [0, 56.8, 24.53],
 43156: [27.0, 56.4, 0],
 43157: [0, 56.2, 24.46],
 43160: [0, 56.1, 0],
 43162: [27.0, 0, 23.78],
 43163: [0, 56.4, 0],
 43165: [0, 56.2, 0],
 43168: [27.0, 0, 0],
 43169: [0, 56.1, 22.75],
 43172: [0, 56.0, 0],
 43174: [27.0, 0, 0],
 43175: [0, 56.3, 23.85],
 43179: [0, 56.3, 0],
 43180: [27.0, 56.3, 24.6],
 43184: [0, 56.3, 0],
 43186: [27.0, 0, 0],
 43187: [0, 56.2, 22.75],
 43190: [0, 55.7, 0],
 43192: [27.0, 0, 22.75],
 43193: [0, 55.5, 0],
 43196: [0, 55.8, 0],
 43198: [27.0, 0, 25.27],
 43199: [0, 55.4, 0],
 43201: [0, 55.3, 0],
 43204: [27.0, 0, 0],
 43205: [0, 55.2, 21.09],
 43209: [0, 56.0, 0],
 43211: [27.1, 55.8, 22.36],
 43214: [0, 55.6, 0],
 43216: [27.0, 0, 22.26],
 43217: [0, 55.6, 0],
 43219: [0, 55.6, 0],
 43224: [27.1, 0, 0],
 43225: [0, 55.7, 22.75],
 43228: [27.1, 0, 0],
 43229: [0, 56.0, 22.75],
 43233: [0, 56.3, 0],
 43234: [27.1, 56.3, 22.75],
 43238: [0, 56.3, 0],
 43240: [27.1, 0, 22.62],
 43241: [0, 56.4, 0],
 43243: [0, 56.9, 0],
 43247: [27.1, 57.0, 22.75],
 43252: [27.1, 57.3, 22.75],
 43253: [0, 57.3, 0],
 43256: [0, 57.1, 0],
 43258: [27.1, 0, 21.94],
 43259: [0, 57.0, 0],
 43262: [0, 56.8, 0],
 43264: [27.1, 0, 21.15],
 43265: [0, 56.7, 0],
 43267: [0, 56.3, 0],
 43268: [0, 0, 0],
 43269: [0, 0, 0],
 43270: [27.1, 0, 0],
 43271: [0, 55.8, 21.43],
 43272: [0, 0, 0],
 43275: [0, 0, 0],
 43276: [27.1, 55.3, 21.25],
 43277: [0, 55.6, 0],
 43278: [0, 0, 0],
 43280: [0, 56.4, 0],
 43281: [0, 0, 0],
 43282: [27.1, 56.3, 21.25],
 43284: [0, 0, 0],
 43286: [0, 56.0, 0],
 43287: [0, 0, 0],
 43288: [27.1, 0, 0],
 43289: [0, 55.6, 22.26],
 43291: [0, 0, 0],
 43292: [0, 55.3, 0],
 43293: [0, 0, 0],
 43294: [27.1, 0, 0],
 43295: [0, 55.3, 22.06],
 43296: [0, 0, 0],
 43298: [0, 55.4, 0],
 43299: [0, 0, 0],
 43300: [27.1, 0, 21.78],
 43301: [0, 55.7, 0],
 43302: [0, 0, 0],
 43303: [0, 55.8, 0],
 43305: [0, 0, 0],
 43308: [0, 0, 0],
 43309: [27.1, 55.7, 22.13],
 43310: [0, 55.9, 0],
 43311: [0, 0, 0],
 43312: [27.1, 0, 0],
 43313: [0, 56.1, 13.23],
 43314: [0, 0, 0],
 43315: [0, 56.6, 0],
 43317: [0, 0, 0],
 43318: [27.1, 0, 0],
 43319: [0, 56.7, 21.94],
 43320: [0, 0, 0],
 43321: [0, 0, 0],
 43324: [27.2, 57.0, 0],
 43325: [0, 57.4, 22.19],
 43326: [0, 0, 0],
 43328: [0, 57.5, 0],
 43329: [0, 0, 0],
 43330: [27.1, 0, 0],
 43331: [0, 56.6, 12.89],
 43332: [0, 0, 0],
 43334: [0, 56.9, 0],
 43335: [0, 0, 0],
 43336: [27.1, 0, 14.13],
 43337: [0, 56.9, 0],
 43338: [0, 0, 0],
 43339: [0, 0, 0],
 43340: [0, 56.6, 0],
 43341: [0, 0, 0],
 43342: [27.1, 0, 0],
 43343: [0, 56.4, 17.08],
 43344: [0, 0, 0],
 43346: [0, 56.3, 0],
 43347: [0, 0, 0],
 43349: [27.1, 56.2, 15.53],
 43350: [0, 0, 0],
 43352: [0, 56.1, 0],
 43354: [27.1, 0, 0],
 43355: [0, 55.8, 14.76],
 43356: [0, 0, 0],
 43358: [0, 55.6, 0],
 43359: [0, 0, 0],
 43360: [27.1, 0, 0],
 43361: [0, 55.5, 11.95],
 43362: [0, 0, 0],
 43364: [0, 55.3, 0],
 43365: [0, 0, 0],
 43368: [27.0, 0, 0],
 43369: [0, 55.6, 11.96],
 43370: [0, 56.1, 0],
 43371: [0, 0, 0],
 43372: [27.0, 0, 0],
 43373: [0, 56.1, 13.73],
 43374: [0, 0, 0],
 43376: [0, 55.8, 0],
 43377: [0, 0, 0],
 43378: [27.0, 0, 0],
 43379: [0, 55.6, 13.54],
 43380: [0, 0, 0],
 43381: [0, 0, 0],
 43382: [0, 55.2, 0],
 43383: [0, 0, 0],
 43384: [27.0, 0, 0],
 43385: [0, 55.1, 16.43],
 43386: [0, 0, 0],
 43388: [0, 55.2, 0],
 43389: [0, 0, 0],
 43390: [27.0, 0, 0],
 43391: [0, 55.5, 16.7],
 43392: [0, 0, 0],
 43394: [0, 55.7, 0],
 43395: [0, 0, 0],
 43396: [27.0, 0, 17.45],
 43397: [0, 55.7, 0],
 43398: [0, 0, 0],
 43400: [0, 55.8, 0],
 43402: [0, 0, 0],
 43404: [27.0, 55.8, 18.92],
 43406: [0, 55.8, 0],
 43407: [0, 0, 0],
 43408: [27.0, 0, 0],
 43409: [0, 56.4, 19.27],
 43410: [0, 0, 0],
 43413: [0, 56.7, 0],
 43415: [26.9, 56.5, 19.38],
 43416: [0, 0, 0],
 43419: [0, 56.1, 0],
 43420: [26.9, 0, 0],
 43421: [0, 55.9, 18.57],
 43422: [0, 0, 0],
 43423: [0, 55.9, 0],
 43425: [0, 0, 0],
 43426: [26.9, 0, 17.3],
 43427: [0, 56.2, 0],
 43428: [0, 0, 0],
 43430: [0, 56.4, 0],
 43431: [0, 0, 0],
 43432: [26.9, 0, 0],
 43433: [0, 56.4, 22.26],
 43434: [0, 0, 0],
 43436: [0, 56.0, 0],
 43437: [0, 0, 0],
 43438: [26.9, 56.1, 20.91],
 43440: [0, 0, 0],
 43442: [0, 56.1, 0],
 43443: [0, 0, 0],
 43444: [26.9, 0, 0],
 43445: [0, 56.3, 20.26],
 43446: [0, 0, 0],
 43448: [0, 56.7, 0],
 43449: [0, 0, 0],
 43450: [26.9, 0, 20.55],
 43452: [0, 0, 0],
 43453: [0, 56.9, 0],
 43455: [0, 0, 0],
 43458: [26.9, 0, 0],
 43459: [0, 56.8, 20.97],
 43461: [0, 0, 0],
 43462: [26.9, 0, 0],
 43463: [0, 56.7, 22.75],
 43464: [0, 0, 0],
 43465: [0, 56.5, 0],
 43467: [0, 0, 0],
 43469: [26.9, 56.5, 21.94],
 43470: [0, 0, 0],
 43472: [0, 56.5, 0],
 43473: [0, 0, 0],
 43475: [26.9, 56.5, 21.4],
 43477: [0, 0, 0],
 43478: [0, 56.4, 0],
 43480: [26.9, 0, 0],
 43481: [0, 56.3, 19.69],
 43482: [0, 0, 0],
 43484: [0, 57.2, 0],
 43485: [0, 0, 0],
 43486: [26.9, 57.2, 14.61],
 43488: [0, 0, 0],
 43490: [0, 57.3, 0],
 43491: [0, 0, 0],
 43492: [26.9, 0, 16.43],
 43493: [0, 57.1, 0],
 43494: [0, 0, 0],
 43497: [0, 57.2, 0],
 43498: [26.9, 57.4, 16.94],
 43500: [0, 0, 0],
 43501: [0, 0, 0],
 43502: [0, 56.8, 0],
 43503: [0, 0, 0],
 43504: [26.9, 0, 0],
 43505: [0, 56.7, 18.92],
 43506: [0, 0, 0],
 43508: [0, 56.7, 0],
 43509: [0, 0, 0],
 43510: [26.9, 0, 17.7],
 43511: [0, 56.5, 0],
 43512: [0, 0, 0],
 43513: [0, 56.6, 0],
 43515: [0, 0, 0],
 43518: [26.9, 0, 0],
 43519: [0, 56.3, 18.44],
 43521: [0, 0, 0],
 43522: [26.9, 0, 0],
 43524: [0, 56.3, 19.3],
 43525: [0, 0, 0],
 43527: [0, 0, 0],
 43529: [26.9, 56.8, 19.74],
 43530: [0, 0, 0],
 43532: [0, 56.6, 0],
 43533: [0, 0, 0],
 43535: [26.9, 56.5, 22.36],
 43536: [0, 0, 0],
 43539: [0, 0, 0],
 43540: [26.9, 57.5, 22.19],
 43542: [0, 0, 0],
 43545: [0, 0, 0],
 43548: [0, 0, 0],
 43550: [0, 0, 0],
 43551: [0, 0, 0],
 43554: [0, 0, 0],
 43557: [0, 0, 0],
 43560: [0, 0, 0],
 43563: [0, 0, 0],
 43566: [0, 0, 0],
 43569: [0, 0, 0],
 43572: [0, 0, 0],
 43575: [26.9, 57.6, 20.43],
 43578: [0, 57.6, 0],
 43580: [26.9, 0, 0],
 43581: [0, 57.6, 20.32],
 43584: [0, 0, 0],
 43585: [0, 57.2, 0],
 43586: [0, 0, 0],
 43587: [26.9, 56.9, 20.97],
 43590: [0, 56.6, 0],
 43592: [26.9, 0, 0],
 43593: [0, 0, 0],
 43596: [0, 56.5, 20.32],
 43598: [26.9, 0, 0],
 43599: [0, 0, 0],
 43602: [0, 56.6, 20.29],
 43604: [26.9, 0, 0],
 43605: [0, 0, 0],
 43608: [0, 56.4, 18.89],
 43611: [26.9, 56.2, 18.2],
 43614: [0, 55.9, 0],
 43615: [0, 0, 0],
 43616: [26.9, 0, 0],
 43617: [0, 55.7, 16.99],
 43621: [0, 55.7, 0],
 43622: [26.9, 0, 0],
 43623: [0, 55.5, 18.94],
 43626: [0, 56.2, 0],
 43628: [26.9, 0, 0],
 43629: [0, 56.6, 18.33],
 43632: [0, 56.6, 0],
 43635: [26.9, 56.1, 18.08],
 43637: [0, 55.9, 0],
 43638: [0, 0, 0],
 43641: [26.9, 55.7, 18.49],
 43643: [0, 55.9, 0],
 43644: [0, 0, 0],
 43647: [26.9, 56.0, 18.41],
 43650: [0, 56.1, 0],
 43651: [0, 0, 0],
 43654: [26.9, 56.2, 19.41],
 43656: [0, 56.3, 0],
 43658: [26.9, 0, 0],
 43659: [0, 57.2, 16.31],
 43661: [0, 57.8, 0],
 43662: [0, 0, 0],
 43665: [26.9, 56.7, 17.47],
 43668: [0, 56.0, 0],
 43671: [26.9, 55.6, 18.33],
 43673: [0, 55.6, 0],
 43677: [26.9, 55.9, 17.85],
 43679: [0, 56.0, 0],
 43683: [26.9, 56.4, 17.57],
 43686: [0, 56.2, 0],
 43689: [26.9, 56.5, 0],
 43690: [0, 0, 17.38],
 43692: [0, 56.5, 0],
 43693: [0, 0, 0],
 43695: [26.9, 56.3, 17.28],
 43698: [0, 56.2, 0],
 43701: [0, 0, 0],
 43703: [26.9, 0, 0],
 43704: [0, 56.2, 17.7],
 43707: [26.9, 56.2, 17.25],
 43709: [0, 56.4, 0],
 43710: [0, 0, 0],
 43713: [26.9, 56.2, 17.13],
 43716: [0, 55.9, 0],
 43719: [26.9, 55.8, 17.16],
 43721: [0, 55.8, 0],
 43722: [0, 0, 0],
 43725: [26.9, 55.8, 16.8],
 43728: [0, 56.0, 0],
 43731: [26.9, 56.3, 16.92],
 43733: [0, 56.3, 0],
 43734: [0, 0, 0],
 43737: [26.9, 56.3, 16.66],
 43739: [0, 56.3, 0],
 43740: [0, 0, 0],
 43743: [26.9, 56.3, 16.4],
 43745: [0, 56.5, 0],
 43746: [0, 0, 0],
 43749: [26.9, 56.7, 16.06],
 43751: [0, 56.6, 0],
 43752: [0, 0, 0],
 43755: [26.9, 56.7, 16.92],
 43757: [0, 56.4, 0],
 43758: [0, 0, 0],
 43760: [0, 0, 0],
 43761: [26.9, 56.0, 16.75],
 43763: [0, 56.3, 0],
 43764: [0, 0, 0],
 43767: [26.9, 56.5, 16.92],
 43769: [0, 56.3, 0],
 43770: [0, 0, 0],
 43773: [26.9, 56.0, 16.92],
 43775: [0, 55.6, 0],
 43776: [0, 0, 0],
 43779: [26.9, 0, 0],
 43780: [0, 55.4, 17.28],
 43781: [0, 55.4, 0],
 43782: [0, 0, 0],
 43785: [26.9, 55.5, 16.33],
 43788: [0, 55.4, 0],
 43789: [0, 0, 0],
 43791: [26.9, 55.5, 17.16],
 43794: [0, 55.7, 0],
 43797: [27.0, 55.8, 17.3],
 43799: [0, 55.9, 0],
 43800: [0, 0, 0],
 43803: [27.0, 56.0, 16.56],
 43805: [0, 56.0, 0],
 43806: [0, 0, 0],
 43807: [0, 0, 0],
 43809: [27.0, 0, 0],
 43810: [0, 56.0, 17.13],
 43811: [0, 56.1, 0],
 43812: [0, 0, 0],
 43815: [26.9, 56.2, 19.55],
 43818: [0, 56.2, 0],
 43821: [26.9, 56.3, 16.89],
 43824: [0, 56.3, 0],
 43826: [26.9, 0, 0],
 43827: [0, 56.3, 16.92],
 43830: [0, 56.7, 0],
 43832: [26.9, 0, 0],
 43833: [0, 56.7, 16.68],
 43836: [0, 56.5, 0],
 43839: [26.9, 56.4, 16.5],
 43842: [0, 56.1, 0],
 43845: [26.9, 56.2, 16.61],
 43848: [0, 56.1, 0],
 43849: [0, 0, 0],
 43851: [26.9, 56.2, 16.52],
 43853: [0, 56.2, 0],
 43854: [0, 0, 0],
 43857: [0, 0, 0],
 43858: [26.9, 56.2, 16.22],
 43860: [0, 56.5, 0],
 43862: [26.9, 0, 0],
 43863: [0, 56.6, 16.33],
 43866: [0, 56.8, 0],
 43869: [26.9, 56.9, 16.59],
 43870: [0, 0, 0],
 43871: [0, 56.8, 0],
 43874: [26.9, 0, 0],
 43875: [0, 56.7, 16.87],
 43878: [0, 56.5, 0],
 43883: [0, 0, 0],
 43884: [0, 0, 0],
 43887: [26.9, 0, 0],
 43888: [27.0, 56.5, 17.13],
 43889: [0, 56.3, 0],
 43890: [0, 0, 0],
 43893: [27.0, 56.2, 16.92],
 43896: [0, 56.7, 0],
 43899: [26.9, 0, 0],
 43900: [0, 56.8, 16.63],
 43901: [0, 56.7, 0],
 43902: [0, 0, 0],
 43905: [27.0, 56.3, 16.78],
 43907: [0, 56.2, 0],
 43908: [0, 0, 0],
 43911: [26.9, 56.0, 16.61],
 43913: [0, 56.0, 0],
 43914: [0, 0, 0],
 43917: [26.9, 56.4, 16.54],
 43920: [0, 56.6, 0],
 43921: [0, 0, 0],
 43923: [26.9, 56.4, 16.52],
 43925: [0, 56.2, 0],
 43926: [0, 0, 0],
 43929: [26.9, 56.0, 16.78],
 43931: [0, 55.9, 0],
 43932: [0, 0, 0],
 43935: [26.9, 55.9, 16.54],
 43937: [0, 55.9, 0],
 43938: [0, 0, 0],
 43941: [26.9, 56.0, 16.29],
 43943: [0, 56.1, 0],
 43944: [0, 0, 0],
 43945: [0, 0, 0],
 43947: [26.9, 56.0, 16.18],
 43950: [0, 55.9, 0],
 43953: [26.9, 55.9, 16.13],
 43955: [0, 55.7, 0],
 43956: [0, 0, 0],
 43959: [26.9, 55.7, 16.61],
 43961: [0, 55.8, 0],
 43962: [0, 0, 0],
 43963: [0, 0, 0],
 43965: [26.9, 55.9, 16.47],
 43967: [0, 55.9, 0],
 43968: [0, 0, 0],
 43971: [26.9, 56.1, 16.18],
 43973: [0, 56.0, 0],
 43974: [0, 0, 0],
 43977: [26.9, 56.1, 16.15],
 43980: [0, 56.1, 0],
 43983: [26.9, 56.1, 16.31],
 43985: [0, 56.0, 0],
 43986: [0, 0, 0],
 43989: [26.9, 56.4, 16.38],
 43992: [0, 56.3, 0],
 43995: [26.9, 56.2, 15.88],
 43997: [0, 56.3, 0],
 43998: [0, 0, 0],
 44001: [26.9, 56.3, 16.11],
 44003: [0, 56.2, 0],
 44004: [0, 0, 0],
 44005: [0, 0, 0],
 44007: [26.9, 56.3, 16.2],
 44010: [0, 56.5, 0],
 44013: [26.9, 56.3, 16.15],
 44015: [0, 56.2, 0],
 44016: [0, 0, 0],
 44019: [26.9, 56.1, 15.49],
 44021: [0, 56.2, 0],
 44022: [0, 0, 0],
 44024: [26.9, 0, 0],
 44025: [0, 56.2, 13.84],
 44028: [0, 56.3, 0],
 44031: [26.9, 56.1, 14.73],
 44034: [0, 56.0, 0],
 44037: [27.0, 0, 0],
 44038: [0, 56.0, 15.51],
 44039: [0, 56.2, 0],
 44040: [0, 0, 0],
 44043: [26.9, 56.0, 15.77],
 44045: [0, 56.0, 0],
 44046: [0, 0, 0],
 44049: [27.0, 56.0, 15.36],
 44052: [0, 55.9, 0],
 44055: [27.0, 55.7, 14.84],
 44058: [0, 55.8, 0],
 44061: [27.0, 55.8, 15.53],
 44063: [0, 55.5, 0],
 44064: [0, 0, 0],
 44067: [27.0, 55.5, 15.8],
 44070: [0, 55.4, 0],
 44073: [27.0, 55.3, 15.49],
 44076: [0, 55.2, 0],
 44079: [27.0, 55.4, 15.36],
 44082: [0, 55.6, 0],
 44084: [27.0, 0, 0],
 44085: [0, 55.5, 15.82],
 44088: [0, 55.4, 0],
 44091: [27.1, 55.4, 15.71],
 44094: [0, 55.4, 0],
 44097: [27.1, 55.6, 16.15],
 44100: [0, 55.5, 0],
 44102: [27.1, 0, 0],
 44103: [0, 55.5, 15.82],
 44106: [0, 55.6, 0],
 44109: [27.1, 55.7, 16.2],
 44112: [0, 55.9, 0],
 44115: [27.1, 56.0, 16.4],
 44118: [0, 55.9, 0],
 44120: [0, 0, 0],
 44121: [27.1, 0, 0],
 44123: [0, 55.9, 15.56],
 44124: [0, 55.7, 0],
 44125: [0, 0, 0],
 44127: [27.1, 55.5, 15.84],
 44128: [0, 0, 0],
 44129: [0, 55.3, 0],
 44130: [0, 0, 0],
 44133: [27.1, 0, 0],
 44134: [0, 55.4, 16.4],
 44135: [0, 55.4, 0],
 44136: [0, 0, 0],
 44137: [0, 0, 0],
 44139: [27.1, 55.6, 17.08],
 44141: [0, 0, 0],
 44142: [0, 55.9, 0],
 44145: [27.1, 55.9, 16.5],
 44146: [0, 0, 0],
 44147: [0, 55.8, 0],
 44148: [0, 0, 0],
 44151: [27.1, 55.8, 16.68],
 44154: [0, 55.8, 0],
 44157: [27.1, 55.5, 16.85],
 44160: [0, 55.7, 0],
 44163: [27.1, 55.7, 18.36],
 44166: [0, 55.4, 0],
 44169: [27.0, 55.3, 18.6],
 44172: [0, 55.8, 0],
 44175: [27.1, 55.7, 18.52],
 44178: [0, 55.7, 0],
 44181: [27.0, 55.7, 17.23],
 44184: [0, 56.0, 0],
 44187: [27.0, 55.9, 17.57],
 44190: [0, 55.9, 0],
 44193: [27.0, 56.0, 17.82],
 44196: [0, 56.1, 0],
 44199: [27.0, 56.2, 18.1],
 44201: [0, 56.2, 0],
 44202: [0, 0, 0],
 44205: [26.9, 56.2, 18.05],
 44207: [0, 56.4, 0],
 44208: [0, 0, 0],
 44210: [26.9, 0, 0],
 44211: [0, 0, 0],
 44212: [0, 56.4, 16.85],
 44214: [0, 56.4, 0],
 44216: [26.9, 0, 0],
 44217: [0, 56.2, 17.06],
 44219: [0, 56.0, 0],
 44220: [0, 0, 0],
 44223: [26.9, 56.3, 16.92],
 44226: [0, 56.3, 0],
 44229: [26.9, 0, 0],
 44230: [0, 56.2, 16.92],
 44232: [0, 56.4, 0],
 44235: [26.9, 56.7, 16.61],
 44237: [0, 56.6, 0],
 44238: [0, 0, 0],
 44240: [0, 0, 0],
 44241: [26.9, 56.5, 17.28],
 44243: [0, 56.2, 0],
 44244: [0, 0, 0],
 44246: [26.9, 0, 0],
 44247: [0, 55.9, 17.47],
 44249: [0, 55.8, 0],
 44250: [0, 0, 0],
 44253: [26.9, 55.7, 17.18],
 44255: [0, 55.8, 0],
 44256: [0, 0, 0],
 44259: [26.9, 55.9, 16.87],
 44261: [0, 56.0, 0],
 44262: [0, 0, 0],
 44264: [26.9, 0, 0],
 44265: [0, 56.0, 16.92],
 44268: [0, 56.2, 0],
 44270: [26.9, 0, 0],
 44271: [0, 56.3, 17.45],
 44274: [0, 56.5, 0],
 44277: [0, 0, 0],
 44279: [27.0, 56.4, 17.7],
 44280: [0, 56.3, 0],
 44283: [27.0, 56.4, 17.62],
 44285: [0, 56.4, 0],
 44286: [0, 0, 0],

In [ ]:
# Transform the aggregated dictionary data into a structured DataFrame with columns for each sensor
actual_df = pd.DataFrame()
values = list(actual.values())
temp = [0] * len(values)
hum = [0] * len(values)
ldr = [0] * len(values)
for i in range(len(values)):
    temp[i] = values[i][0]
    hum[i] = values[i][1]
    ldr[i] = values[i][2]

actual_df['Time'] = actual.keys()
actual_df['Temperature'] = temp
actual_df['Humidity'] = hum
actual_df['Light Intensity'] = ldr

actual_df

       Time  Temperature  Humidity  Light Intensity
0     42584         27.2      54.1            25.61
1     42586         27.2       0.0             0.00
2     42587          0.0      54.3            25.81
3     42589          0.0      54.6             0.00
4     42592         27.2       0.0             0.00
...     ...          ...       ...              ...
1409  45612          0.0      57.7             0.00
1410  45615         26.2       0.0             0.00
1411  45616          0.0      57.3            12.06
1412  45618          0.0      57.1             0.00
1413  45622         26.2      57.4            12.16

[1414 rows x 4 columns]

In [ ]:
# Filter out incomplete Temperature sensor reading rows
mask = actual_df['Temperature'] != 0
df_mod = actual_df[mask]
df_mod.reset_index(inplace = True, drop = True)
df_mod

      Time  Temperature  Humidity  Light Intensity
0    42584         27.2      54.1            25.61
1    42586         27.2       0.0             0.00
2    42592         27.2       0.0             0.00
3    42598         27.2       0.0             0.00
4    42605         27.2      55.8            18.52
..     ...          ...       ...              ...
378  44876         26.4       0.0             0.00
379  44883         26.4       0.0             0.00
380  45610         26.2      56.8            12.30
381  45615         26.2       0.0             0.00
382  45622         26.2      57.4            12.16

[383 rows x 4 columns]

In [ ]:
# Filter out incomplete Humidity sensor reading rows
mask = df_mod['Humidity'] != 0
df_mod = df_mod[mask]
df_mod.reset_index(inplace = True, drop = True)
df_mod

      Time  Temperature  Humidity  Light Intensity
0    42584         27.2      54.1            25.61
1    42605         27.2      55.8            18.52
2    42610         27.2      56.1            21.12
3    42646         27.2      55.8            23.57
4    42658         27.2      55.2            22.75
..     ...          ...       ...              ...
197  44859         26.4      58.7            16.59
198  44865         26.5      58.7            16.45
199  44871         26.4      58.2            15.64
200  45610         26.2      56.8            12.30
201  45622         26.2      57.4            12.16

[202 rows x 4 columns]

In [ ]:
# Filter out incomplete LDR sensor reading rows
mask = df_mod['Light Intensity'] != 0
df_mod = df_mod[mask]
df_mod.reset_index(inplace = True, drop = True)
df_mod

      Time  Temperature  Humidity  Light Intensity
0    42584         27.2      54.1            25.61
1    42605         27.2      55.8            18.52
2    42610         27.2      56.1            21.12
3    42646         27.2      55.8            23.57
4    42658         27.2      55.2            22.75
..     ...          ...       ...              ...
190  44859         26.4      58.7            16.59
191  44865         26.5      58.7            16.45
192  44871         26.4      58.2            15.64
193  45610         26.2      56.8            12.30
194  45622         26.2      57.4            12.16

[195 rows x 4 columns]

### Checking correlation

In [ ]:
# Exploring the data
df_mod.corr()

                     Time  Temperature  Humidity  Light Intensity
Time             1.000000    -0.743567  0.461840        -0.824945
Temperature     -0.743567     1.000000 -0.751214         0.625370
Humidity         0.461840    -0.751214  1.000000        -0.401704
Light Intensity -0.824945     0.625370 -0.401704         1.000000

# Train the model

### Creating test and training datasets

In [293]:
# Create output set
y = df_mod['Temperature'].values
y

array([27.2, 27.2, 27.2, 27.2, 27.2, 27.2, 27.2, 27.2, 27.2, 27.1, 27.1,
       27. , 26.9, 26.9, 26.9, 26.9, 26.9, 26.9, 26.9, 26.9, 27. , 27.1,
       27.1, 27.1, 27.1, 27.1, 27.1, 27.1, 27.1, 27. , 26.9, 26.9, 26.9,
       26.9, 26.9, 26.9, 26.9, 26.9, 26.9, 26.9, 26.9, 26.9, 26.9, 26.9,
       26.9, 26.9, 26.9, 26.9, 26.9, 26.9, 26.9, 26.9, 26.9, 26.9, 26.9,
       26.9, 26.9, 26.9, 26.9, 26.9, 26.9, 26.9, 26.9, 26.9, 26.9, 27. ,
       27. , 26.9, 26.9, 26.9, 26.9, 26.9, 26.9, 26.9, 27. , 27. , 27. ,
       26.9, 26.9, 26.9, 26.9, 26.9, 26.9, 26.9, 26.9, 26.9, 26.9, 26.9,
       26.9, 26.9, 26.9, 26.9, 26.9, 26.9, 26.9, 26.9, 26.9, 26.9, 27. ,
       27. , 27. , 27. , 27. , 27. , 27.1, 27.1, 27.1, 27.1, 27.1, 27.1,
       27.1, 27.1, 27.1, 27.1, 27. , 27.1, 27. , 27. , 27. , 27. , 26.9,
       26.9, 26.9, 26.9, 26.9, 26.9, 27. , 27. , 27. , 27. , 27. , 27. ,
       27. , 27. , 27. , 27. , 27. , 26.9, 26.9, 26.9, 26.9, 26.9, 26.9,
       26.9, 26.9, 26.9, 26.9, 26.9, 26.8, 26.8, 26.7, 26.7, 26.7, 26.7,
       26.6, 26.6, 26.7, 26.6, 26.6, 26.6, 26.6, 26.6, 26.6, 26.6, 26.6,
       26.6, 26.6, 26.6, 26.6, 26.5, 26.5, 26.6, 26.5, 26.5, 26.5, 26.5,
       26.5, 26.5, 26.5, 26.5, 26.4, 26.4, 26.4, 26.4, 26.4, 26.4, 26.4,
       26.4, 26.4, 26.4, 26.4, 26.5, 26.4, 26.2, 26.2])

In [ ]:
# Create input set
df_modx = df_mod.drop(columns=['Temperature'])
X = df_modx.values
X

array([[4.2584e+04, 5.4100e+01, 2.5610e+01],
       [4.2605e+04, 5.5800e+01, 1.8520e+01],
       [4.2610e+04, 5.6100e+01, 2.1120e+01],
       [4.2646e+04, 5.5800e+01, 2.3570e+01],
       [4.2658e+04, 5.5200e+01, 2.2750e+01],
       [4.2671e+04, 5.4900e+01, 2.3880e+01],
       [4.2682e+04, 5.5100e+01, 2.3780e+01],
       [4.2718e+04, 5.5100e+01, 2.9460e+01],
       [4.2730e+04, 5.5100e+01, 2.9370e+01],
       [4.2766e+04, 5.5400e+01, 2.4460e+01],
       [4.2790e+04, 5.4900e+01, 2.5770e+01],
       [4.2857e+04, 5.7000e+01, 2.5310e+01],
       [4.2910e+04, 5.6300e+01, 2.7620e+01],
       [4.2940e+04, 5.5900e+01, 2.4200e+01],
       [4.2952e+04, 5.5800e+01, 2.3740e+01],
       [4.2961e+04, 5.6100e+01, 2.3670e+01],
       [4.3018e+04, 5.7200e+01, 2.5610e+01],
       [4.3072e+04, 5.6800e+01, 2.0700e+01],
       [4.3078e+04, 5.6700e+01, 1.9270e+01],
       [4.3127e+04, 5.7300e+01, 2.2750e+01],
       [4.3180e+04, 5.6300e+01, 2.4600e+01],
       [4.3211e+04, 5.5800e+01, 2.2360e+01],
       [4.3234e+04, 5.6300e+01, 2.2750e+01],
       [4.3247e+04, 5.7000e+01, 2.2750e+01],
       [4.3252e+04, 5.7300e+01, 2.2750e+01],
       [4.3276e+04, 5.5300e+01, 2.1250e+01],
       [4.3282e+04, 5.6300e+01, 2.1250e+01],
       [4.3309e+04, 5.5700e+01, 2.2130e+01],
       [4.3349e+04, 5.6200e+01, 1.5530e+01],
       [4.3404e+04, 5.5800e+01, 1.8920e+01],
       [4.3415e+04, 5.6500e+01, 1.9380e+01],
       [4.3438e+04, 5.6100e+01, 2.0910e+01],
       [4.3469e+04, 5.6500e+01, 2.1940e+01],
       [4.3475e+04, 5.6500e+01, 2.1400e+01],
       [4.3486e+04, 5.7200e+01, 1.4610e+01],
       [4.3498e+04, 5.7400e+01, 1.6940e+01],
       [4.3529e+04, 5.6800e+01, 1.9740e+01],
       [4.3535e+04, 5.6500e+01, 2.2360e+01],
       [4.3540e+04, 5.7500e+01, 2.2190e+01],
       [4.3575e+04, 5.7600e+01, 2.0430e+01],
       [4.3587e+04, 5.6900e+01, 2.0970e+01],
       [4.3611e+04, 5.6200e+01, 1.8200e+01],
       [4.3635e+04, 5.6100e+01, 1.8080e+01],
       [4.3641e+04, 5.5700e+01, 1.8490e+01],
       [4.3647e+04, 5.6000e+01, 1.8410e+01],
       [4.3654e+04, 5.6200e+01, 1.9410e+01],
       [4.3665e+04, 5.6700e+01, 1.7470e+01],
       [4.3671e+04, 5.5600e+01, 1.8330e+01],
       [4.3677e+04, 5.5900e+01, 1.7850e+01],
       [4.3683e+04, 5.6400e+01, 1.7570e+01],
       [4.3695e+04, 5.6300e+01, 1.7280e+01],
       [4.3707e+04, 5.6200e+01, 1.7250e+01],
       [4.3713e+04, 5.6200e+01, 1.7130e+01],
       [4.3719e+04, 5.5800e+01, 1.7160e+01],
       [4.3725e+04, 5.5800e+01, 1.6800e+01],
       [4.3731e+04, 5.6300e+01, 1.6920e+01],
       [4.3737e+04, 5.6300e+01, 1.6660e+01],
       [4.3743e+04, 5.6300e+01, 1.6400e+01],
       [4.3749e+04, 5.6700e+01, 1.6060e+01],
       [4.3755e+04, 5.6700e+01, 1.6920e+01],
       [4.3761e+04, 5.6000e+01, 1.6750e+01],
       [4.3767e+04, 5.6500e+01, 1.6920e+01],
       [4.3773e+04, 5.6000e+01, 1.6920e+01],
       [4.3785e+04, 5.5500e+01, 1.6330e+01],
       [4.3791e+04, 5.5500e+01, 1.7160e+01],
       [4.3797e+04, 5.5800e+01, 1.7300e+01],
       [4.3803e+04, 5.6000e+01, 1.6560e+01],
       [4.3815e+04, 5.6200e+01, 1.9550e+01],
       [4.3821e+04, 5.6300e+01, 1.6890e+01],
       [4.3839e+04, 5.6400e+01, 1.6500e+01],
       [4.3845e+04, 5.6200e+01, 1.6610e+01],
       [4.3851e+04, 5.6200e+01, 1.6520e+01],
       [4.3858e+04, 5.6200e+01, 1.6220e+01],
       [4.3869e+04, 5.6900e+01, 1.6590e+01],
       [4.3888e+04, 5.6500e+01, 1.7130e+01],
       [4.3893e+04, 5.6200e+01, 1.6920e+01],
       [4.3905e+04, 5.6300e+01, 1.6780e+01],
       [4.3911e+04, 5.6000e+01, 1.6610e+01],
       [4.3917e+04, 5.6400e+01, 1.6540e+01],
       [4.3923e+04, 5.6400e+01, 1.6520e+01],
       [4.3929e+04, 5.6000e+01, 1.6780e+01],
       [4.3935e+04, 5.5900e+01, 1.6540e+01],
       [4.3941e+04, 5.6000e+01, 1.6290e+01],
       [4.3947e+04, 5.6000e+01, 1.6180e+01],
       [4.3953e+04, 5.5900e+01, 1.6130e+01],
       [4.3959e+04, 5.5700e+01, 1.6610e+01],
       [4.3965e+04, 5.5900e+01, 1.6470e+01],
       [4.3971e+04, 5.6100e+01, 1.6180e+01],
       [4.3977e+04, 5.6100e+01, 1.6150e+01],
       [4.3983e+04, 5.6100e+01, 1.6310e+01],
       [4.3989e+04, 5.6400e+01, 1.6380e+01],
       [4.3995e+04, 5.6200e+01, 1.5880e+01],
       [4.4001e+04, 5.6300e+01, 1.6110e+01],
       [4.4007e+04, 5.6300e+01, 1.6200e+01],
       [4.4013e+04, 5.6300e+01, 1.6150e+01],
       [4.4019e+04, 5.6100e+01, 1.5490e+01],
       [4.4031e+04, 5.6100e+01, 1.4730e+01],
       [4.4043e+04, 5.6000e+01, 1.5770e+01],
       [4.4049e+04, 5.6000e+01, 1.5360e+01],
       [4.4055e+04, 5.5700e+01, 1.4840e+01],
       [4.4061e+04, 5.5800e+01, 1.5530e+01],
       [4.4067e+04, 5.5500e+01, 1.5800e+01],
       [4.4073e+04, 5.5300e+01, 1.5490e+01],
       [4.4079e+04, 5.5400e+01, 1.5360e+01],
       [4.4091e+04, 5.5400e+01, 1.5710e+01],
       [4.4097e+04, 5.5600e+01, 1.6150e+01],
       [4.4109e+04, 5.5700e+01, 1.6200e+01],
       [4.4115e+04, 5.6000e+01, 1.6400e+01],
       [4.4127e+04, 5.5500e+01, 1.5840e+01],
       [4.4139e+04, 5.5600e+01, 1.7080e+01],
       [4.4145e+04, 5.5900e+01, 1.6500e+01],
       [4.4151e+04, 5.5800e+01, 1.6680e+01],
       [4.4157e+04, 5.5500e+01, 1.6850e+01],
       [4.4163e+04, 5.5700e+01, 1.8360e+01],
       [4.4169e+04, 5.5300e+01, 1.8600e+01],
       [4.4175e+04, 5.5700e+01, 1.8520e+01],
       [4.4181e+04, 5.5700e+01, 1.7230e+01],
       [4.4187e+04, 5.5900e+01, 1.7570e+01],
       [4.4193e+04, 5.6000e+01, 1.7820e+01],
       [4.4199e+04, 5.6200e+01, 1.8100e+01],
       [4.4205e+04, 5.6200e+01, 1.8050e+01],
       [4.4223e+04, 5.6300e+01, 1.6920e+01],
       [4.4235e+04, 5.6700e+01, 1.6610e+01],
       [4.4241e+04, 5.6500e+01, 1.7280e+01],
       [4.4253e+04, 5.5700e+01, 1.7180e+01],
       [4.4259e+04, 5.5900e+01, 1.6870e+01],
       [4.4279e+04, 5.6400e+01, 1.7700e+01],
       [4.4283e+04, 5.6400e+01, 1.7620e+01],
       [4.4289e+04, 5.6100e+01, 1.7700e+01],
       [4.4295e+04, 5.6500e+01, 1.7800e+01],
       [4.4301e+04, 5.6300e+01, 1.7700e+01],
       [4.4307e+04, 5.5800e+01, 1.7650e+01],
       [4.4313e+04, 5.6100e+01, 1.7700e+01],
       [4.4319e+04, 5.5500e+01, 1.7700e+01],
       [4.4338e+04, 5.5500e+01, 1.7700e+01],
       [4.4343e+04, 5.5600e+01, 1.7330e+01],
       [4.4349e+04, 5.5700e+01, 1.7550e+01],
       [4.4355e+04, 5.5700e+01, 1.6960e+01],
       [4.4367e+04, 5.5900e+01, 1.6940e+01],
       [4.4373e+04, 5.5900e+01, 1.6680e+01],
       [4.4379e+04, 5.5800e+01, 1.6700e+01],
       [4.4391e+04, 5.6000e+01, 1.7850e+01],
       [4.4397e+04, 5.6000e+01, 1.6960e+01],
       [4.4417e+04, 5.6100e+01, 1.7700e+01],
       [4.4421e+04, 5.6000e+01, 1.8940e+01],
       [4.4427e+04, 5.6000e+01, 1.9410e+01],
       [4.4433e+04, 5.5900e+01, 1.8150e+01],
       [4.4445e+04, 5.6000e+01, 1.8520e+01],
       [4.4451e+04, 5.6000e+01, 1.9130e+01],
       [4.4469e+04, 5.6100e+01, 1.7520e+01],
       [4.4475e+04, 5.6000e+01, 1.7330e+01],
       [4.4487e+04, 5.6100e+01, 1.5750e+01],
       [4.4499e+04, 5.6200e+01, 1.6020e+01],
       [4.4505e+04, 5.6200e+01, 1.6820e+01],
       [4.4511e+04, 5.6100e+01, 1.5280e+01],
       [4.4517e+04, 5.6100e+01, 1.5340e+01],
       [4.4523e+04, 5.6200e+01, 1.5260e+01],
       [4.4529e+04, 5.6100e+01, 1.4610e+01],
       [4.4547e+04, 5.6100e+01, 1.4120e+01],
       [4.4553e+04, 5.6100e+01, 1.3770e+01],
       [4.4559e+04, 5.6200e+01, 1.4730e+01],
       [4.4565e+04, 5.6200e+01, 1.4980e+01],
       [4.4571e+04, 5.6000e+01, 1.4800e+01],
       [4.4577e+04, 5.6000e+01, 1.4800e+01],
       [4.4589e+04, 5.6300e+01, 1.5450e+01],
       [4.4601e+04, 5.6100e+01, 1.5470e+01],
       [4.4607e+04, 5.6200e+01, 1.4940e+01],
       [4.4613e+04, 5.6800e+01, 1.4370e+01],
       [4.4619e+04, 5.7000e+01, 1.4150e+01],
       [4.4637e+04, 5.7300e+01, 1.3810e+01],
       [4.4655e+04, 5.7300e+01, 1.3980e+01],
       [4.4661e+04, 5.7300e+01, 1.3860e+01],
       [4.4667e+04, 5.7300e+01, 1.4610e+01],
       [4.4679e+04, 5.7700e+01, 1.4150e+01],
       [4.4685e+04, 5.8000e+01, 1.4530e+01],
       [4.4691e+04, 5.8200e+01, 1.4470e+01],
       [4.4697e+04, 5.8200e+01, 1.4610e+01],
       [4.4727e+04, 5.8500e+01, 1.3540e+01],
       [4.4745e+04, 5.8600e+01, 1.3540e+01],
       [4.4751e+04, 5.8700e+01, 1.3250e+01],
       [4.4769e+04, 5.8200e+01, 1.3250e+01],
       [4.4781e+04, 5.9000e+01, 1.3450e+01],
       [4.4793e+04, 5.8300e+01, 1.2780e+01],
       [4.4799e+04, 5.8600e+01, 1.3250e+01],
       [4.4811e+04, 5.9000e+01, 1.3260e+01],
       [4.4817e+04, 5.9200e+01, 1.3340e+01],
       [4.4835e+04, 5.9100e+01, 1.3830e+01],
       [4.4842e+04, 5.9000e+01, 1.3940e+01],
       [4.4847e+04, 5.9100e+01, 1.3880e+01],
       [4.4853e+04, 5.8600e+01, 1.4800e+01],
       [4.4859e+04, 5.8700e+01, 1.6590e+01],
       [4.4865e+04, 5.8700e+01, 1.6450e+01],
       [4.4871e+04, 5.8200e+01, 1.5640e+01],
       [4.5610e+04, 5.6800e+01, 1.2300e+01],
       [4.5622e+04, 5.7400e+01, 1.2160e+01]])

In [ ]:
# Splitting dataset into training set & test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0) # 20% test size

In [ ]:
# Fitting a Linear Regression model to the training set
regr = LinearRegression()
model = regr.fit(X_train, y_train)

In [ ]:
# Evaluating the model using MSE criterion
y_pred = regr.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error (MSE): ", mse)

Mean Squared Error (MSE):  0.011722136310445774

### Mean Absolute Percentage Error

In [ ]:
# Mean absolute percentage error
actual, pred = np.array(y_test), np.array(y_pred)
mape= np.mean(np.abs((actual - pred) / actual)) * 100
print(f"mean absolute percentage error = {mape*100:.2f}%")

mean absolute percentage error = 32.54%

In [ ]:
# Other measures: rmse, r-squre, mae
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)

print(f'Mean absolute error: {mae:.2f}')    # absolute deviation of predicted value from true value
print(f'Mean squared error: {mse:.2f}')
print(f'Root mean squared error: {rmse:.2f}')

Mean absolute error: 0.09
Mean squared error: 0.01
Root mean squared error: 0.11

In [ ]:
# Regressor score
r2 = regr.score(X_test, y_test)
print(f"The R2 score for test data is {r2:.2f}")

# Regressor score for trained data is
r2_training = regr.score(X_train, y_train)
print(f"The R2 score for test data is {r2_training:.2f}")

The R2 score for test data is 0.75
The R2 score for test data is 0.77